body {
  margin: 0;
  padding: 0;
  font-family: Open Sans;
}

*, *::after, *::before {
  box-sizing: border-box;
}

.video {
  width: 100%;
  outline: none;
  /* position: relative; */
}

.video-wrapper {
  position: relative;
}

.video::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: FontAwesome;
  font-size: 100px;
  color: #fff;
  opacity: .8;
}

.video-button {
  background-color: transparent;
  border: none;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  top: 34%;
  cursor: pointer;
  opacity: 1;
  outline: none;
}

@media screen and (min-width: 768px) {
  .video-button {
    top: 40%;
  }
}

.video-button.active {
  /* background-color: #0077a2; */
  left: -10000px;
  /* to hide button when the video is playing */
}

.video-button__image {
  height: 100px;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .video-button {
    display: block;
  }

  ::i-block-chrome,.video-button {
    display: none;
  }
}


/* @media screen and (min-color-index:0) and (-webkit-min-device-pixel-ratio:0) {
  @media {
    .video-button {
      display: none;
    }
  }
} */

.showsSubheading {
  font-size: 12px;
  margin-top: 0;
  font-weight: normal;
  margin-bottom: 24px;
}

.short-bio__button {
  border: 2px solid #1793c7;
  background-color: #fff;
  text-decoration: none;
  color: #1793c7;
  padding: 16px 30px;
  font-size: 16px;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.short-bio__button:hover {
  background-color: #1793c7;
  color: #fff;
}

.short-bio__bio {
  line-height: 1.4;
  margin-bottom: 42px;
}

.short-bio__heading-text {
  display: inline;
  font-size: 38px;
  /* font-weight: 400; */
  font-weight: 300;
  line-height: 1.1;
}

.short-bio__content {
  font-size: 16px;
}

.modal {
  position: absolute;
  left: -10000000px;
  max-width: 650px;
  margin: 0 auto;

}

.modal.active {
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  outline: 9999px solid rgba(0,0,0,0.5)
}

.modal__content {
  background-color: #fff;
  padding: 24px;
  overflow: scroll;
}

.modal__controls{
  position: absolute;
  right: 12px;
  top: 12px;
}

.modal__close-button {
  border: none;
  background: none;

}

/* 
.modal.active::before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.2);
} */

.form {

}

.form__content {

}

@media screen and (min-width: 768px) {
  .form__content {
    display: flex;
    flex-wrap: wrap;
  }
}

.form__heading {
  margin-top: 0;
}

.modal__close-button svg {
  height: 45px;
  width: 45px;
}

.form__field {
  flex-basis: 50%;
  margin-bottom: 32px;
}

.form__label {
  display: block;
}

.form__input {
  min-width: 225px;
  height: 30px;
  font-size: 12px;
}

textarea.form__input{
  min-height: 125px;
}

.form__submit {
  border: none;
  background-color: #1793c7;
  color: #fff;
  padding: 10px 25px;
  font-size: 16px;
}