body {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}

*, *::after, *::before {
  box-sizing: border-box;
}

.promo-photo {
  width: 100%;
}

.showsSubheading {
  font-size: 12px;
  margin-top: 0;
  font-weight: normal;
  margin-bottom: 24px;
}

.short-bio__button-container {
  padding-top: 24px;
}

.short-bio__button {
  border: 2px solid #1793c7;
  background-color: #fff;
  text-decoration: none;
  color: #1793c7;
  padding: 16px 30px;
  font-size: 16px;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.short-bio__button:hover {
  background-color: #1793c7;
  color: #fff;
}

.short-bio__heading-text {
  display: inline;
  font-size: 38px;
  font-weight: 300;
  line-height: 1.1;
}

.short-bio__content {
  font-size: 16px;
}

iframe {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 560px;
}